@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3a3a3a;
$darkGrey: #616161;
$grey: #D8D8D8;
$orange: #E89F71;
$gree: #2EC1AC;
$red: #E97171;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	&__main-slider {
	}
}
//===================================================================================================================================

.main-slider {
	background: #FCF8F3;

	&__container{
		position: relative;
		@media (min-width: $md2+px) {
			&::before{
				content: '';
				background: #F9F1E7;
				position: absolute;
				top: 0;
				width: 100vw;
				right: 376px;
				height: 100%;
			}
		}
	}

	// .main-slider__body
	&__body {
		padding: 140px 0px 0px 0px;
		position: relative;
		z-index: 2;
		@media (max-width: $md2+px) {
			padding: 80px 0px 0px 0px;
		}
		@media (max-width: $md3+px) {
			padding: 50px 0px 0px 0px;
		}
		@media (min-width: $md2+px) {
			display: flex;	
		}
	}
	// .main-slider__content
	&__content {
		flex:  0 0 494 / 1280  * 100%;
	}
	// .main-slider__slider
	&__slider {
		flex: 1 1 auto;
		// min-width: 0;  
	}
}
.content-main {
	position: relative;
	z-index: 5;
	padding-left: 15px;
	padding-right: 15px;
	@include adaptiv-value("padding-top", 60, 15, 1);
	@include adaptiv-value("padding-bottom", 60, 15, 1);

	@media (min-width: $md2+px) {
		@include adaptiv-value("padding", 60, 1, 1);
		background: rgba(255, 255, 255, 0.9);

		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))){
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}
	// .content-main__title
	&__title {
		@include adaptiv-value("font-size",56, 24, 1);
		font-weight: 700;
		line-height: 120%;
		:not(:last-child){
			margin: 0px 0px 16px / 56px * 1em 0px;
		}
	}

	// .content-main__text
	&__text {
		@include adaptiv-value('font-size', 20,16,1);
		color: $grey;
		font-weight: 500;
		line-height: 150%;
		&:not(:last-child){
			margin: 0px 0px 16px / 20px *1em 0px;
		}
	}

	// .content-main__button
	&__button {
		font-weight: 600;
		@include adaptiv-value("min-height", 78, 45, 1);
		@include adaptiv-value("font-size", 20, 16, 1);
		background-color: $orange;
		color: #fff;
		width: 100%;
		@media (any-hover: hover) {
			&:hover{
				background: #966749;
			}
		}
	}
}
.slider-main {

	// .slider-main__controls
	&__controls {
	}

	// .slider-main__body
	&__body {
	}

	// .slider-main__slide
	&__slide {
	}

	// .slider-main__image
	&__image {
	}

	// .slider-main__content
	&__content {
	}

	// .slider-main__title
	&__title {
	}

	// .slider-main__text
	&__text {
	}

	// .slider-main__price
	&__price {
	}
}
.controls-slider-main {

	// .controls-slider-main__dotts
	&__dotts {
	}

	// .controls-slider-main__arrows
	&__arrows {
	}
}



//</ОСНОВНОЙ БЛОК>====================================================================================================
